body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
}
main {
    width: 500px;
    margin: 60px auto;
}
.form {
    background-color: #eee;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
}
#input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
}
#input:focus , .add:focus{
    outline: none;
}
.add {
    border: none;
    background-color: #222;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
}
#tasks {
    background-color: #eee;
    margin-top: 20px;
    border-radius: 6px;
    padding: 20px;
}

ul li {
    list-style: none;
    padding: 12px;
}
#tasks li {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    border: 1px solid #ccc;
    margin-bottom: 12px;
}

.delete {
    width: calc(100% - 25px);
    margin: auto;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #222;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

@media screen and (max-width: 768px){
    main {
        padding: 15px;
        width: 100%;
    }

}